@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.sidebar {
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar,
.input-value::-webkit-inner-spin-button {
  display: none;
}

.polka-dots {
  z-index: -1;
}
.info-modal {
  z-index: 1000;
}

.accordion-title {
  background-color: #d7d7d7;
  padding: 10px 20px;
  cursor: pointer;
}

.accordion-title.active {
  background-color: rgb(176, 176, 176);
}

.accordion-content {
  padding: 10px 20px;
}
.tab-items::-webkit-scrollbar {
  display: none;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1000 !important;
}
.border-color-picker {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 25px;
}
/*! Color Picker */
#rbgcp-inputs-wrap {
  font-size: 14px;
}
#rbgcp-wrapper {
  width: 100% !important;
}
#rbgcp-inputs-wrap > div > input {
  background-color: rgb(90, 90, 90);
}
#rbgcp-inputs-wrap > div > div {
  color: rgb(90, 90, 90);
}
#rbgcp-wrapper canvas {
  width: 100% !important;
}

#rbgcp-wrapper > div:nth-last-child(1) {
  gap: 4px !important;
}

#rbgcp-wrapper > div:nth-last-child(1) > div:nth-last-child(1) {
  width: 100% !important;
}

#rbgcp-wrapper > div:nth-last-child(1) > div:nth-last-child(1) > div {
  height: 23.5px !important;
}

